.p0{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_0.png') no-repeat;
  background-size: cover;
}
.p1{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_1.png') no-repeat;
  background-size: cover;
}
.p1{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_1.png') no-repeat;
  background-size: cover;
}
.p2{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_2.png') no-repeat;
  background-size: cover;
}
.p3{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_3.png') no-repeat;
  background-size: cover;
}
.p4{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_4.png') no-repeat;
  background-size: cover;
}
.p5{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_5.png') no-repeat;
  background-size: cover;
}
.p6{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_6.png') no-repeat;
  background-size: cover;
}
.p7{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_7.png') no-repeat;
  background-size: cover;
}
.p8{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_8.png') no-repeat;
  background-size: cover;
}
.p9{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_9.png') no-repeat;
  background-size: cover;
}
.p10{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_10.png') no-repeat;
  background-size: cover;

}
.p11{
  background: url('https://wenbatman33.github.io/prize_wall/static/img/all_11.png') no-repeat;
  background-size: cover;
}