// 淺色版配色
// DW_Color 
$L_DW_ColorLight: rgb(253, 36, 83);
$L_DW_Color: rgba(255, 117, 25 ,1);
$L_DW_ColorDark: rgba(255, 73, 73 ,1);
// DW_Color Alpha
$L_DW_ColorAlpha_10: rgba(255, 117, 25, 0.1);
$L_DW_ColorAlpha_20: rgba(255, 117, 25, 0.2);
$L_DW_ColorAlpha_30: rgba(255, 117, 25, 0.3);
$L_DW_ColorAlpha_40: rgba(255, 117, 25, 0.4);
$L_DW_ColorAlpha_50: rgba(255, 117, 25, 0.5);
$L_DW_ColorAlpha_60: rgba(255, 117, 25, 0.6);
$L_DW_ColorAlpha_70: rgba(255, 117, 25, 0.7);
$L_DW_ColorAlpha_80: rgba(255, 117, 25, 0.8);
$L_DW_ColorAlpha_90: rgba(255, 117, 25, 0.9);
// DW_ColorDark Alpha
$L_DW_ColorDarkAlpha_10: rgba(255, 73, 73, 0.1);
$L_DW_ColorDarkAlpha_50: rgba(255, 73, 73, 0.5);
$L_DW_ColorDarkAlpha_80: rgba(255, 73, 73, 0.8); 
// yellow:
$L_DW_yellow: rgba(247,186,42,1.0);
$L_DW_yellowAlpha_10: rgba(247,186,42,0.1);
$L_DW_yellowAlpha_40: rgba(247,186,42,0.4);
// red
$L_DW_red: rgba(219,48,48,1.0);
$L_DW_redAlpha_40: rgba(219,48,48,0.4); 
$L_DW_orange: rgba(255,117,25,1.0);
$L_DW_orange_30: rgba(255,117,25,0.3);
$L_DW_orangeRed: rgba(255,73,73,1.0);
$L_DW_pink: #D394FF;
// 
$L_DW_purple: rgba(101,0, 255,1);
$L_DW_purpleDark: rgba(143, 50, 159,1);
$L_DW_purpleDark_30: rgba(143, 50, 159,.3);

$L_DW_blueberry: rgba(96, 64, 166,1);
$L_DW_blueGrey: rgba(32, 32, 82 ,1);
$L_DW_slatBlue: rgba(57, 32, 95 ,1);
// sky
$L_DW_sky_1: rgba(32,160,255,1.0);
$L_DW_sky_2: rgba(91,122,233,1.0);
// skyLight
$L_DW_skyLight_1: rgba(32,205,255,1.0);
$L_DW_skyLight_2: rgba(67,233,218,1.0);
// green
$L_DW_greenLight: rgba(50,255,122,1.0);
$L_DW_greenMiddle: rgba(19,206,102,1.0);
$L_DW_greenMiddle_30: rgba(19,206,102,0.3);
$L_DW_greenDark: rgba(0, 154, 124,1.0);