$Color_1: #BC9CFF;
$Color_2: #D46767;
$Color_3: #6945FF;
$Color_4: #01578b;
$Color_5: #002642;
$Color_6: #00db1e;
$Color_7: #68D1D7;
// 
$gray_0: #b3b3b3;
$gray_1: #111;
$gray_3: #333;
$gray_6: #666;
$gray_9: #999;
$gray_c: #ccc;
$gray_c7: #c7c7c7;
$gray_d1: #d1d1d1;
$gray_f5: #f5f5f5;
