html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: 1024px;
	margin: auto auto;
	font-family: 'PingFangTC', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff !important;
}
#main {
	height: 100%;
	width: 100%;
}
p {
	margin: 0;
}
#app {
	color: #2c3e50;
	width: 100%;
	max-width: 1024px;
	height: 100%;
}

.appContainer {
	min-height: calc(100vh - 350px);
}

img {
	display: inline-block !important;
}

button:focus {
	outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	font-size: 2em !important;
}
h2 {
	font-size: 1.5em !important;
}
h3 {
	font-size: 1.17em !important;
}
h4 {
	font-size: 1.12em !important;
}
h5 {
	font-size: 0.83em !important;
}
h6 {
	font-size: 0.75em !important;
}
a {
	color: #1890ff;
}
