$theme_light:        rgb(194, 170, 242);
$theme:               rgb(57, 109, 238);
$theme_dark:          rgb(57, 109, 238);

$dw_yellow:            rgb(255, 213, 0);
$dw_yellow_dark:       rgb(255, 173, 0);

$origin_lightest:     rgb(242, 244, 247);
$origin_light:        rgb(223, 228, 237);
$origin:              rgb(191, 199, 217);
$origin_dark:         rgb(147, 159, 184);
$origin_darkest:      rgb(108, 120, 145);

$navy_dark:           rgb(26, 34, 51);
$navy:                rgb(40, 53, 80);
$navy2:               rgb(21, 28,42);
$navy_light:          rgb(59, 70, 92);

$sky_light:           rgb(88, 183, 255);
$sky:                 rgb(32, 160, 255);
$sky_dark:            rgb(29, 140, 224);

$orange:              rgb(248, 123, 9);
$secondaryYellow:     rgb(247, 186, 42);

$dw_purple:           rgb(182, 32, 224);

$error:                 rgb(255, 90, 90);

// font-size
$text-12:               12/375*100vw;
$text-14:               14/375*100vw;
$text-16:               16px;
$text-18:               18/375*100vw;
$text-20:               20/375*100vw;
$text-24:               24/375*100vw;
$text-28:               28/375*100vw;
$text-36:               36/375*100vw;
$text-40:               40/375*100vw;

// distance
$width-8:               8/375*100vw;
$width-12:              12/375*100vw;
$width-16:              16/375*100vw;
$width-18:              18/375*100vw;
$width-20:              20/375*100vw;
$width-22:              22/375*100vw;
$width-24:              24/375*100vw;
$width-28:              28/375*100vw;
$width-32:              32/375*100vw;
$width-36:              36/375*100vw;
$width-40:              40/375*100vw;
$width-48:              48/375*100vw;
$width-60:              60/375*100vw;
$width-64:              64/375*100vw;

$height-8:              8/812*100vh;
$height-10:             10/812*100vh;
$height-12:             12/812*100vh;
$height-16:             16/812*100vh;
$height-20:             20/812*100vh;
$height-24:             24/812*100vh;
$height-28:             28/812*100vh;
$height-30:             30/812*100vh;
$height-32:             32/812*100vh;
$height-36:             36/812*100vh;
$height-40:             40/812*100vh;
$height-44:             44/812*100vh;
$height-48:             48/812*100vh;
$height-72:             72/812*100vh;

// Card
$card-title:            black;
